@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appLogo{
  color: white;
  text-align: center;
}

.nav-text a:hover,
.nav-text a:active,
.nav-text a:visited,
.nav-text a,
.appLogo a:hover,
.appLogo a:active,
.appLogo a:visited,
.appLogo a{
  text-decoration: none;
  color: white;
}

.login{
  margin: auto;
  width: 30%;
  margin-top: 18em;
}

.register {
  margin: auto;
  width: 40%;
  margin-top: 6em;
}

.addProduct{
  margin: auto;
  width: 45%;
  text-align: left;
  padding-bottom: 20px;
}

.basePrice{
  font-size: 13px;
  text-decoration: line-through;
}

.salePrice{
  font-size: 19px;
  font-weight: bold;
  color: red;
}

.editDeleteProduct{
  position: absolute;
  right: 25px;
  bottom: 15px;
}

.addProduct .ant-form-item{
  margin: 2px
}